In [401]:
%store -r test
%store -r train
%store -r I_am_legend

In [402]:
train[:3]

,rowid,unique_id,height_m,weight_kg,bin_bh,special,gstats,comboAtk,comboDef
0,1,665,0.6,12.5,1.0,60.0,95.0,105.000000,90.0
1,2,288,0.6,29.7,1.0,90.0,135.0,124.227941,110.0
2,3,349,1.2,22.2,1.0,171.0,288.0,175.000000,120.0

In [403]:
print(I_am_legend.shape)

(520,)
0    0
1    0
2    0
Name: is_legendary, dtype: int64

In [404]:
test[:3]

,rowid,unique_id,height_m,weight_kg,bin_bh,special,gstats,comboAtk,comboDef
0,1,602,0.6,8.1,1.0,115.28681,178.28681,124.227941,125.28681
1,2,756,1.5,38.0,1.0,235.00000,315.00000,199.227941,210.00000
2,3,191,1.4,61.5,1.0,235.28681,280.28681,260.000000,175.28681

In [405]:
from sklearn.model_selection import train_test_split

In [406]:
xtrain, xtest, ytrain, ytest = train_test_split(train,I_am_legend)

In [407]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

### Extra Trees Classifier

In [408]:
clf = ExtraTreesClassifier(n_estimators=10, max_depth=None,min_samples_split=2, random_state=0)
clf.fit(xtrain,ytrain)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
           max_depth=None, max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [409]:
predicted = clf.predict(train)
predicted.shape

(520,)

### Random Forest

In [411]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=10, max_depth=None,min_samples_split=2, random_state=0)
rf.fit(xtrain,ytrain)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [412]:
rf_prediction = rf.predict(train)

In [413]:
results = confusion_matrix(I_am_legend, rf_prediction)
print ('Confusion Matrix :')
print(results) 
print ('Accuracy Score :',accuracy_score(I_am_legend, rf_prediction) )
print ('Report : ')
print (classification_report(I_am_legend, rf_prediction))

Confusion Matrix :
[[472   0]
 [  6  42]]
Accuracy Score : 0.9884615384615385
Report :
             precision    recall  f1-score   support

          0       0.99      1.00      0.99       472
          1       1.00      0.88      0.93        48

avg / total       0.99      0.99      0.99       520

## Confusion Matrix

from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

In [414]:

results = confusion_matrix(I_am_legend, predicted)
print ('Confusion Matrix :')
print(results) 
print ('Accuracy Score :',accuracy_score(I_am_legend, predicted) )
print ('Report : ')
print (classification_report(I_am_legend, predicted))

Confusion Matrix :
[[472   0]
 [  6  42]]
Accuracy Score : 0.9884615384615385
Report :
             precision    recall  f1-score   support

          0       0.99      1.00      0.99       472
          1       1.00      0.88      0.93        48

avg / total       0.99      0.99      0.99       520

In [415]:
import pandas as pd
import numpy as np

In [416]:
predicted = clf.predict(test)

In [419]:
final_result = pd.DataFrame({"unique_id":np.array(test['unique_id']),
                            "is_legendary": predicted})
final_result = final_result[["unique_id","is_legendary"]]

In [421]:
final_result.to_csv("result.csv", sep =",",index = False)