In [5]:
%store -r test
%store -r train
%store -r I_am_legend

In [6]:
train[:3]

,rowid,unique_id,height_m,weight_kg,bin_bh,special,gstats,comboAtk,comboDef
0,1,665,0.6,12.5,1.0,60.0,95.0,105.000000,90.0
1,2,288,0.6,29.7,1.0,90.0,135.0,124.227941,110.0
2,3,349,1.2,22.2,1.0,171.0,288.0,175.000000,120.0

In [7]:
print(I_am_legend.shape)
print(I_am_legend[:3])

(520,)
0    0
1    0
2    0
Name: is_legendary, dtype: int64

In [8]:
test[:3]

,rowid,unique_id,height_m,weight_kg,bin_bh,special,gstats,comboAtk,comboDef
0,1,602,0.6,8.1,1.0,115.28681,178.28681,124.227941,125.28681
1,2,756,1.5,38.0,1.0,235.00000,315.00000,199.227941,210.00000
2,3,191,1.4,61.5,1.0,235.28681,280.28681,260.000000,175.28681

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
xtrain, xtest, ytrain, ytest = train_test_split(train,I_am_legend)

In [11]:
from sklearn.ensemble import ExtraTreesClassifier

In [12]:
clf = ExtraTreesClassifier(n_estimators=200, max_depth=None,min_samples_split=2, random_state=0)
clf.fit(xtrain,ytrain)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
           max_depth=None, max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [13]:
predicted = clf.predict(test)
predicted.shape

(281,)

## Confusion Matrix

In [14]:
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

In [15]:
# Acutal = Y values in train_test_split
# Predicted = vlaues form the model

#actual = [1, 1, 0, 1, 0, 0, 1, 0, 0, 0] 
#predicted = [1, 0, 0, 1, 0, 0, 1, 1, 1, 0] 
result = confusion_matrix(I_am_legend, predicted)
print ('Confusion Matrix :')
print(results) 
print ('Accuracy Score :',accuracy_score(I_am_legend, predicted) )
print ('Report : ')
print (classification_report(I_am_legend, predicted))

ValueError: Found input variables with inconsistent numbers of samples: [520, 281]